body {
}

h2 {
    font-family: Verdana;
}

#SiteHeader {
    margin-top: 50px;
    margin-left: 100px;
}

#SiteLogo {
    width: 20%;
}

#SearchDiv {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#SearchGVDiv {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

#LoginContentArea {
    margin-top: 20px;
    padding-left: 100px;
}

.InsertDataBtn {
    margin-top: 10px;
}

#LabelSqlErrorDiv {
    margin-top: 20px;
    margin-bottom: 20px;
}

.LblSqlError {
    color: red;
}



